<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Let's create a todo tracker: </h2>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">To Do</th>
    <th>Importance</th>
    <th>Work or Home</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-form-field>
        <input matInput #input maxlength="10" placeholder="Action Item">
      </mat-form-field>
    </td> <!-- TODO:input form field-->
    <td>
      <mat-form-field>
        <mat-label>Rate</mat-label>
        <mat-select>
          <mat-option *ngFor="let priority of priorities" [value]="priority.value">
            {{priority.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>Home</td> <!--TODO: ADD DROPDOWN HERE-->
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Walk Lacey</td>
    <td>4</td>
    <td>Home</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
    <td>10</td>
    <td>$2.35</td>
  </tr>
  </tbody>
</table>

<!--TODO: put form field box here-->

<body>
<!-- Accent-colored raised button with ripple -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
   Save
  </button>
</body>
<!-- Colored FAB button -->
<body>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
</body>

<router-outlet></router-outlet>
