.auto-size {
  width: auto;
}

.iconbutton {
  margin: 0 auto;
  display: block;
}

.navbar {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 50px;
  color: ivory;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
}

