<mat-toolbar class="navbar mdl-shadow--2dp">
  <span>
    <i class="fa fa-anchor" aria-hidden="true"></i>
  </span>
  <span>
    {{title}}
  </span>
  <span>
    <i class="fa fa-anchor aria-hidden=true"></i>
  </span>
</mat-toolbar>

<h2>
  Let's create a todo tracker:
  <span>
    <i class="fa fa-bath" aria-hidden="true"></i>
  </span>
</h2>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">To Do</th>
    <th class="mdl-data-table__cell--non-numeric">Priority</th>
    <th class="mdl-data-table__cell--non-numeric">Work or Home</th>
    <th class="mdl-data-table__cell--non-numeric">Delete Row</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-form-field class="auto-size">
        <input matInput #input maxlength="50" placeholder="Action Item">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="auto-size">
        <mat-label>Rate</mat-label>
        <mat-select>
          <mat-option *ngFor="let priority of priorities" [value]="priority.value">
            {{priority.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="auto-size">
        <mat-label>Choose One</mat-label>
        <mat-select>
          <mat-option *ngFor="let place of places" [value]="place.value">
            {{place.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="onDelete()"
              color="warn">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
<!--    <td>-->
<!--      <ng-container matColumnDef="actions">-->
<!--        <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let row">-->
<!--          <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">-->
<!--            <mat-icon aria-label="Edit">edit</mat-icon>-->
<!--          </button>-->
<!--          <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">-->
<!--            <mat-icon aria-label="Delete">delete</mat-icon>-->
<!--          </button>-->
<!--        </mat-cell>-->
<!--      </ng-container>-->
<!--    </td>-->
  </tr>

  </tbody>
</table>

<body>
  <button mat-raised-button color="accent">Add Item!</button>
</body>
<router-outlet></router-outlet>
