<mat-toolbar class="navbar mdl-shadow--2dp">
  <span>
    <i class="fa fa-anchor" aria-hidden="true"></i>
  </span>
  <span>
    {{title}}
  </span>
  <span>
    <i class="fa fa-anchor aria-hidden=true"></i>
  </span>
</mat-toolbar>

<h2 class="color-theme">
  Let's create a todo tracker:
  <span>
    <i class="fa fa-bath" aria-hidden="true"></i>
  </span>
</h2>
<body class="color-theme">
<button mat-raised-button color="accent" (click)="addRow()">Add Item!</button>
</body>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp, color-theme">
<!--  <table class="mdl-data-table mdl-js-data-table mdl-data-table&#45;&#45;selectable mdl-shadow&#45;&#45;2dp">-->
  <thead>
  <tr>
    <th><mat-checkbox></mat-checkbox></th>
    <th class="mdl-data-table__cell--non-numeric">Todo</th>
    <th class="mdl-data-table__cell--non-numeric">Priority</th>
    <th class="mdl-data-table__cell--non-numeric">Place</th>
    <th class="mdl-data-table__cell--non-numeric">Delete Row</th>
  </tr>
  </thead>
  <tbody *ngFor="let displayedColumn of displayedColumns; let i = index">
  <tr>
    <td>
      <mat-checkbox></mat-checkbox>
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      <mat-form-field class="auto-size">
        <input matInput [(ngModel)]="displayedColumn.todo" placeholder="todo"/>
<!--        <input matInput maxlength="50" placeholder="Action Item">-->
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="auto-size">
        <mat-label>Rate</mat-label>
        <mat-select>
          <mat-option *ngFor="let priority of priorities" [value]="priority.value">
            {{priority.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="auto-size">
        <mat-label>Choose One</mat-label>
        <mat-select>
          <mat-option *ngFor="let place of places" [value]="place.value">
            {{place.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="onDelete(i)"
              color="warn">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
