@import '../../node_modules/@angular/material/theming';
@include mat-core();

.auto-size {
  width: auto;
}

.iconbutton {
  margin: 0 auto;
  display: block;
}

.navbar {
  font-family: 'Amatic SC', 'Oswald', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}

.color-theme {
  background-color: #e0f7fa;
  color: #607d8b;
}
